<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
<!-- 	数据库的访问bean声明 -->
	<bean id="infoACDAO" class="aute.openapi.dao.impl.InfoAcHibDAO"></bean>
	<bean id="infoFitapDAO" class="aute.openapi.dao.impl.InfoFitapHibDAO"></bean>
	<bean id="infoStationDAO" class="aute.openapi.dao.impl.InfoStationHibDAO"></bean>
	<bean id="perfStationDAO" class="aute.openapi.dao.impl.PerfStationHibDAO"></bean>
	<bean id="topoAreaapDAo" class="aute.openapi.dao.impl.TopoAreaapHibDAO"></bean>
	<bean id="topoAreaDAO" class="aute.openapi.dao.impl.TopoAreaHibDAO"></bean>
	<bean id="areaApDAO" class="aute.openapi.dao.impl.AreaApHibDAO"></bean>
	<bean id="stationDataDAO" class="aute.openapi.dao.impl.DataflowStationHibDAO"></bean>
<!-- 	数据库的访问bean声明-end -->
</beans>